.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

assets/bower_components
assets/web/assets/bower_components

application/config/config.php
application/config/database.php
application/config/jwt.php

application/helpers/redis_helper.php
application/helpers/mongodb_helper.php
application/helpers/lottoglo_helper.php

assets/web/uploads/glo_stock/*
!assets/web/uploads/glo_stock/index.html
sessions/

assets/web/uploads/transfer_slip
!assets/web/uploads/transfer_slip/index.html
